.navigation {
  overflow: hidden;
  background-color: #333;
  }
  
  /* Styles for navigation links */
  .navigation a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: black;
  }
  
  /* Styles for the user dropdown */
  .user-dropdown {
    float: right;
    padding: 0px 10px;
  }
  
  .navigation .user-dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  min-width: 2em; /* Add this line */
  }

  .navigation a:hover, .user-dropdown:hover .dropbtn {
    background-color: rgba(255, 0, 0, 0.368);
  }
  
  .user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: auto; /* Remove the 'left' property */
    right: 0; /* Align the dropdown to the right */
  }
  
  .user-dropdown .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .user-dropdown .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .user-dropdown:hover .dropdown-content {
    display: block;
  }
 