@import url('https://fonts.googleapis.com/css2?family=Jost&family=Nunito&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-size: 18px;
  color: white;
}
.commit {
  padding: 5px 15px;
  text-align: center;
  outline: none;
  background-color: #6495ed;
  border: 0;
  border-radius: 5px;
  width: 5%;
  box-shadow: 0 2px #999;
  color: white
}
button:hover {
  background-color: #5d81c4;
}

button:active {
  background-color: #405f98;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}